@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Press+Start+2P&display=swap');

//Fuentes
$fuente_titulos: 'Press Start 2P', sans-serif;
$fuente_base: 'Orbitron', sans-serif;

//Tamaños Media Queries

$telefono: 48rem;
$tablet: 65rem;
$desktop:102.4rem;

//Colores

$principal: #3A008F;
$secundario: #000000;
$terciario: #8A00FF;
$cuaternario: #DA00FF;
$fondo: rgba(158,0,255, .4);
$nav: #1b0042;