.aboutMeSection{
    height: 100vh;
    width: 100vw;
    background-color: $secundario;
    display: flex;
    align-items: center;
    justify-content: space-around;
    img{
        width: 50rem;
    }
    .aboutMeContainer{
        display: flex;
        flex-direction: column;
        width: 50rem;
        h2{
            font-family: $fuente_titulos;
            font-size: 3.5rem;
            font-weight: 900;
            color: $blanco;
            margin-bottom: 0;
        }
        p{
            color: $blanco;
            font-family: $fuente_titulos;
            font-size: 1rem;
            font-weight: 100;
            text-align: justify;
            max-width: 40rem;
            line-height: 2rem;
        }
        .btn1, .btn2{
            width: 10rem;
        }
    }
}