.contacto{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4rem 0;
    background-image: url('./../../img/fondos/contactoMobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    @include tablet{
      background-image: url('./../../img/fondos/contacto2.jpg');
    }
    h2{
        margin-bottom: 4rem;
    }
}
.contactForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    .btn{
      background-color: #c299ff;
      width: 12rem;
      border: none;
      color: $principal;
      text-transform: uppercase;
      font-family: $fuente_titulos;
      padding: 1.5rem 1rem;
      margin: 1rem 0;
      font-size: 1rem;
      border-radius: .6rem;
      cursor: pointer;
      text-decoration: none;
  }
}
.legendForm{
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    border:none;
    input, textarea{
        padding-left: 2rem;
        color: #fff;
        font-family: $fuente_titulos;
    }
    h3{
        color: rgb(3, 212, 3);
        font-size: 2rem;
    }
}
.campoForm{
    margin: 10px 2px;
    background-color: #000;
    color: #fff;
    border: none;
    padding: .8rem 0;
    border-radius: 3rem;
}

.legendForm>label{
    font-weight: 700;
    text-transform: uppercase;
    color: $secundario;
    font-family: $fuente_base;
    font-size: 1.2rem;
}


.btn:hover{
    background-color: $principal;
}

input:focus,textarea:focus{
    outline: none;
    border-bottom: 3px solid $secundario;
}

.loading.active{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.6);
    z-index: 100;
}

.loading{
    display: none;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid $secundario;
    top: 50%;
    animation: loader 2s infinite ease;
  }
  
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: $secundario;
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
  }